div {
    text-align:center;
}
input {
    margin: 0 auto;
    width: 300px;
    height: 30px;
}
button {
    margin: 5px;
    background-color: chartreuse;
    color: black;
    padding: 10px 20px;
    border: darkgreen;
    box-shadow: 5px 5px 10px #ff3300;
}
button:hover {
    background-color: #33cc33;
    box-shadow: 5px 5px 10px #ff0000;
}
button:active {
    background-color: #009933;
    box-shadow: 5px 5px 10px #cc0000;
}
.specialButton {
    background-color: #ff9933;
    box-shadow: 5px 5px 10px #66ffff;
}
.specialButton:hover {
    background-color: #e68a00;
    box-shadow: 5px 5px 10px aqua;
}
.specialButton:active {
    background-color: #ff6600;
    box-shadow: 5px 5px 10px #00ccff;
}
h1 {
    animation: titleColors 10s linear infinite alternate;
    text-align:center;
}
p {
    font-size: 40px;
    color: #00e600;
    text-align:center;
}
@keyframes titleColors {
    0% {color: #ffffff; text-shadow: 3px 3px #000000}
    25% {color: #80ff80; text-shadow: 3px 3px #006680}
    50% {color: #00ff00; text-shadow: 3px 3px #00ccff}
    75% {color:#008000; text-shadow: 3px 3px #80e5ff}
    100% {color: #000000; text-shadow: 3px 3px #ffffff}
}
.footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}